
.asset_increment--item1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 65px;
    height: 36px;
    background-color: #ffffff;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
}

.interface__container{
    width: 140px;
    position: absolute;
    top: calc(100% + 5px);
    right: 0;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .16);
    z-index: 11;
}

.horizontal_interface{
    background: url('../../../assets/icon/qlts-icon.png') no-repeat -110px -420px;
	width: 20px;
	height: 15px;
}



.vertical_interface{
    background: url('../../../assets/icon/qlts-icon.png') no-repeat -22px -421px;
	width: 20px;
	height: 14px;
}

.interface__item{
    width: 100%;
    height: 32px;
    display: flex;
    align-items: center;
    padding: 0 8px;
    box-sizing: border-box;
    column-gap: 10px;
    cursor: pointer;
}

.interface__item:hover{
    background-color: rgba(162, 240, 243, 0.829);
}

.asset_increment--item12{
    background: url('../../../assets/icon/qlts-icon.png') no-repeat -158px -249px;
	width: 11px;
	height: 7px;
}

.asset-increment-list-interface-tooltip{
    top: 110%;
    right: 0;
}

.asset_increment--icon12:hover~.asset-increment-list-interface-tooltip{
    transform: scale(1);
    z-index: 10000;
}



.asset_increment--icon12{
    width: 100%;
	height: 100%;
    display: flex;
    align-items: center;
    padding: 8px !important;
    justify-content: space-between;
    padding: 0;
    border: 0;
    background-color: #ffffff;
}

.asset_increment--icon22{
    width: 16px;
	height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

.asset_increment--text1{
    font-size: 22px;
    font-family: Roboto-Bold;
}

.content-body__up{
    width: 100%;
    height: 64px;
    padding: 14px;
    box-sizing: border-box;
    background-color: #ffffff;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-body__up--right{
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.asset-increment-master-table{
    width: 100%;
    height: calc(100% - 63px);
    position: relative;
}

.content-body__down{
    width: 100%;
    height: 40px;
    padding: 0 14px;
    box-sizing: border-box;
    background-color: #ffffff;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.asset_increment--item2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60px;
    height: 36px;
    background-color: #ffffff;
    border-radius: 4px;
    padding: 2px;
    box-sizing: border-box;
}

.asset_increment--item21{
    background: url('../../../assets/icon/qlts-icon.png') no-repeat -331px -67px;
	width: 18px;
	height: 18px;
}

.asset_increment--item22{
    background: url('../../../assets/icon/qlts-icon.png') no-repeat -383px -26px;
	width: 2px;
	height: 13px;
}

.icon--zoom-in{
    background: url('../../../assets/icon/qlts-icon.png') no-repeat -245px -333px;
	width: 14px;
	height: 14px;
}

.icon--zoom-out{
    background: url('../../../assets/icon/qlts-icon.png') no-repeat -289px -333px;
	width: 14px;
	height: 14px;
}


.btn__icon:hover~.full-screen-tooltip{
    transform: scale(1);
    top: calc(100% + 10px);
    z-index: 10000;
}

.see-more{
    position: relative;
}

.asset_increment--icon22:hover~.asset_increment--item22-tooltip{
    transform: scale(1);
    top: calc(100% + 10px);
    z-index: 10000;
}

.print{
    position: relative;
}

.asset-increment__btn-export:hover~.asset_increment--item21-tooltip{
    transform: scale(1);
    top: calc(100% + 10px);
    z-index: 10000;
}


.asset_increment--item3{
    width: 14px;
	height: 14px;
    background-color: #ffffff;
}

.asset_increment--text2{
    font-size: 14px;
    font-family: Roboto-Bold;
}

.asset_increment__content-body--up{
    width: 100%;
    height: 100%;
    /* max-height: calc(100% - 38px - 13px); */
    /* border-radius: 3.5px; */
    border: none;
    box-sizing: border-box;
    position: relative;
}

div.asset_increment__content-body--up::-webkit-scrollbar {
    height: 12px;
    width: 8px;
}


.asset_increment__content-body--down{
    width: 100%;
    height: 100%;
    border: none !important;
    box-sizing: border-box;
    position: relative;
}

.asset-increment-list-container{
    height: calc(100% - 38px); 
    padding-top: 13px; 
    padding-bottom: 16px;
    box-sizing: border-box;
}

.asset-increment-list-input-search{
    width: 285px;
    height: 36px;
    display: flex;
    align-items: center;
}


.splitpanes__splitter{
    background-image: url(../../../assets/icon/menu.png) ;
    background-repeat: no-repeat;
    background-size: 35px 7px;
    background-position: calc(50% - 15px) 1px;
    cursor: row-resize !important;
    height: 10px;
    background-color: #f4f7ff;
    z-index: 10;
}



.pansize1{
    padding-top: 3px;
}



.pansize2{
    padding-bottom: 6px;
}


.splitpanes__pane {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: none !important;
  }
  
  
em.specs {
    font-size: 0.2em;
    line-height: 1;
    position: absolute;
    color: #bbb;
    bottom: 0.5em;
    left: 0;
    right: 0;
    text-align: center;
}

.function__edit--tooltip{
    top: 110%;
    right: 80%;
}

.function__delete--tooltip{
    top: 120%;
    right: 40%;
}

.function__edit:hover~.function__edit--tooltip{
    transform: scale(1) !important;
    z-index: 100000;
}

.function__delete:hover~.function__delete--tooltip{
    transform: scale(1) !important;
    z-index: 100000;
}

.asset-list-btn-delete-tooltip{
    top: 120%;
    right: 50%;
}

.btn-delete-multiple{
    height: 36px;
    width: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.function__delete--multiple:hover .asset-list-btn-delete-tooltip{
    transform: scale(1) !important;
    z-index: 10000;
}

.asset-increment--index{
    max-width: 70px;
    min-width: 70px;
    padding-right: 20px;
    text-align: center;
}

.asset-increment--index-tooltip{
    top: 90% !important;
    right: 60% !important;
}

.table-header__text:hover~.asset-increment--index-tooltip{
    transform: scale(1) !important;
    z-index: 10000;
}


.asset-increment--voucher-code{
    max-width: 130px;
    min-width: 130px;
    padding-right: 10px;
    text-align: left;
}

.asset-increment--voucher-code--text{
    color: dodgerblue;
}

.asset-increment--voucher-date{
    max-width: 130px;
    min-width: 130px;
    padding-right: 10px;
    text-align: center;
}

.asset-increment--increment-date{
    max-width: 130px;
    min-width: 130px;
    padding-right: 10px;
    text-align: center;
}

.asset-increment--price{
    max-width: 140px;
    min-width: 140px;
    padding-right: 10px;
    text-align: right;
}

.asset-increment--description{
    max-width: 486px;
    min-width: 486px;
    text-align: left;
    padding-left: 15px;
}

.asset-increment--footer-left{
    min-width: 510px !important;
}

.asset_increment_detail_list--column2{
    max-width: 65px;
    min-width: 65px;
    padding-right: 10px;
    text-align: center;
}

.asset_increment_detail_list--column2-tooltip{
    top: 80% !important;
    left: 30% !important;
    /* transform: scale(1) !important; */
}

.asset_increment_detail_list--column2:hover{
    cursor: default;
}

.table-header__text:hover~.asset_increment_detail_list--column2-tooltip{
    transform: scale(1) !important;
    z-index: 100000 !important;
}

.asset_increment_detail_list--column3{
    max-width: 120px;
    min-width: 120px;
    padding: 0 10px 0 0;
    text-align: left;
}


.asset_increment_detail_list--column4{
    max-width: 150px;
    min-width: 150px;
    padding: 0 10px 0 0;
    text-align: left;
}


.asset_increment_detail_list--column6{
    max-width: 396px;
    min-width: 396px;
    padding-right: 5px;
    text-align: left;
}


.asset_increment_detail_list--column8{
    max-width: 160px;
    min-width: 160px;
    padding: 0 0 0 10px;
    text-align: right;
}

.asset-increment__btn-export{
    width: 36px;
    height: 36px;
}



.asset_increment_detail_list--column9{
    max-width: 160px;
    min-width: 160px ;
    padding: 0 0 0 10px;
    text-align: right;
}

.asset_increment_detail_list--column9-tooltip{
    top: 80% !important;
    right: 30% !important;
    /* transform: scale(1) !important; */
}


.table-header__text:hover~.asset_increment_detail_list--column9-tooltip{
    transform: scale(1) !important;
    z-index: 100000 !important;
}

.asset_increment_detail_list--column10{
    min-width: 160px;
    max-width: 160px;
    padding: 0 25px 0 10px;
    text-align: right;
}

.asset_increment_detail_list--column11{
    width: 110px;
    min-width: 110px;
    padding-left: 10px;
    padding-right: 15px;
    text-align: center;
}


.table-detail{
    width: 100%;
    height: calc(100% - 40px);
}

.btn-add-asset-increment{
    position: relative;
}

.btn-add-asset-increment-tooltip{
    top: 115%;
    right: 35%;
}

.btn-delete-multiple:hover~.btn-add-asset-increment-tooltip{
    transform: scale(1);
    z-index: 10000;
}

