.btn--default {
    background-color: #1aa4c8 !important;
    color: white !important;
    border: none !important;
}

.btn--default:hover{
    background-color: #097894 !important;
}


.btn{
    width: 110px;
    min-width: 80px;
    height: 36px;
    padding: 0;
    background-color: #ffffff;
    color: black;
    border: 1px solid #afafaf;
    border-radius: 3px;
    cursor: pointer;
}

.btn:hover{
    background-color: rgb(153, 151, 151);
}

.btn--no-save{
    background-color: rgb(230, 233, 235) !important;
    border: 1px solid rgba(14, 143, 179, 0.904) !important; 
    color: rgba(14, 143, 179, 0.904) !important;
}

.btn--no-save:hover{
    background-color: rgba(25, 192, 238, 0.904) !important;
}


.btn-dialog__no{
    background-color: white;
    border: 1px solid rgba(206, 205, 205, 0.384); 
    
}

.btn-dialog__no:hover{
    background-color: rgba(156, 153, 153, 0.349);
}

.btn-dialog__no-save{
    background-color: rgba(136, 219, 242, 0.904);
    border: 1px solid rgba(14, 143, 179, 0.904); 
}

.btn-dialog__no-save:hover{
    background-color: rgba(25, 192, 238, 0.904);
}

.btn-dialog__cancel,.btn-dialog__delete,.btn-dialog__close{
    background-color: #50B83C;
    border: none;
}

.btn-dialog__cancel:hover,.btn-dialog__delete:hover,.btn-dialog__close:hover{
    background-color: #177a03;
}

.btn-dialog{
    width: 110px;
    min-width: 80px;
    height: 36px;
    border-radius: 4px;
    cursor: pointer;
}


.btn-default{
    background-color: #1aa4c8;
    border: none;
}

.btn-default:hover{
    background-color: #097894;
}

.btn-header__icon{
    width: 24px;
    height: 24px;
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: none;
    cursor: pointer;
}

.btn-header__icon:hover{
    background-color: white;
}
