.btn--main {
    background-color: #1aa4c8 !important;
    color: white !important;
    border: none !important;
}

.btn--main:focus{
    background-color: #097894 !important;
    outline: 3px solid #bce7f1 !important;
}

.btn--main:hover{
    background-color: #097894 !important;
    outline: none !important;
}


.btn--outline{
    width: 110px;
    min-width: 80px;
    height: 36px;
    padding: 0;
    background-color: #ffffff;
    color: black;
    border: 1px solid #afafaf;
    border-radius: 3px;
    cursor: pointer;
}

.btn--outline:focus{
    background-color: #1aa4c8;
    outline: 3px solid #bce7f1 !important;
    color: white !important;
}

.btn--outline:hover{
    background-color: #1aa4c8;
    outline: none !important;
}

.btn--sub{
    background-color: white !important;
    border: 1px solid rgba(14, 143, 179, 0.904) !important; 
    color: rgba(65, 152, 177, 0.904) !important;
}

.btn--sub:focus{
    outline: 3px solid #b1e3ef !important;
    border: 1px solid rgba(14, 143, 179, 0.904) !important; 
    color: rgba(14, 143, 179, 0.904) !important;
}

.btn--sub:hover{
    background-color: rgba(98, 217, 249, 0.858) !important;
    opacity: 80%;
    outline: none !important;
}

.btn-dialog{
    width: 110px;
    min-width: 80px;
    height: 36px;
    border-radius: 4px;
    cursor: pointer;
}


.btn-header__icon{
    width: 24px;
    height: 24px;
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: none;
    cursor: pointer;
}

.btn-header__icon:hover{
    background-color: white;
}

.btn__icon:focus{
    outline: 3px solid #bce7f1 ;
}
