.content{
    width: 100%;
    height: 100%;
    background-color: #f4f7ff;
    float: right;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 14px 20px 16px 20px;
}

.content-header{
    width: 100%;
    height: 38px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.content-header input{
    outline: none;
    border-radius: 4px;
}

.content-header__left{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 11px;
    border-radius: 2.5px;
}

.input1{
    width: calc((100% - 22px)/3);
    height: 35px;
    display: flex;
    align-items: center;
}

.content-header__right{
    height: 36px;
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
    margin-left: 10px;
}

.content-header__right .item1{
    background-color: #1aa4c8;
    border-radius: 3px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .16);
    width: 110px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
}

.content-header__right .item1:hover{
    background-color: #097894;
}


.item2{
    border: none;
    background-color: #ffffff;
    border-radius: 3px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .16);
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    cursor: pointer;
}

.item2__icon--image{
    width: 18px;
	height: 17px;
    background: url('../../assets/icon/qlts-icon.png') no-repeat -287px -111px;
}

.item3{
    background-color: #ffffff;
    border-radius: 3px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .16);
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0;
    border: none;
}

.item3:hover{
    background-color: #dacece;
}

.function__delete{
    width: 18px;
	height: 18px;
    background: url('../../assets/icon/qlts-icon.png') no-repeat -463px -111px;
}


.content-body{
    width: 100%;
    height: 100%;
    /* height: max-content; */
    max-height: calc(100% - 38px - 13px);
    /* border-radius: 3.5px; */
    border: 1px solid #afafaf;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .16);
    margin-top: 13px;
    box-sizing: border-box;
    position: relative;
}

.item2:hover~.asset-list-btn-export-tooltip{
    transform: scale(1);
    top: calc(100% + 10px);
    z-index: 10000;
}


.item3:hover~.asset-list-btn-delete-tooltip{
    transform: scale(1);
    top: calc(100% + 10px);
    z-index: 10000;
}


.function__edit:hover~.table-function-edit-tooltip{
    transform: scale(1);
    top: calc(100% + 10px);
    z-index: 10000;
}

.table-function-clone-tooltip{
    right: 30% !important;
}

.table-function-edit-tooltip{
    right: 70% !important;
}

.function__clone:hover~.table-function-clone-tooltip{
    transform: scale(1);
    top: calc(100% + 10px);
    z-index: 10000;
}

.table-header-column9-tooltip{
    right: 30% !important;
    top: 90% !important;
}

.table-header__text:hover~.table-header-column9-tooltip{
    transform: scale(1) !important;
    z-index: 10000;
}

.table-header-column2-tooltip{
    top: 90% !important;
}

.table-header__text:hover~.table-header-column2-tooltip{
    transform: scale(1);
    z-index: 10000;
}

.asset-list-btn-add-tooltip{
    top: 120% !important;
    right: 30% !important;
}

.btn--main:hover~.asset-list-btn-add-tooltip{
    transform: scale(1);
    z-index: 10000;
}