.sidebar{
    width: 220px;
    min-width: 200px;
    height: 100%;
    background-color: #1c3048;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2;
}

.sidebar-header{
    width: 100%;
    height: 50px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #1c3048;
    box-sizing: border-box;
    display: flex;
    padding-top: 10px;
    justify-content: center;
    position: relative;
}

.sidebar-header__item{
    width: 36px;
    height: 36px;
    background: url('../../assets/icon/qlts-icon.png') no-repeat -20px -680px;
    border-radius: 40px;
}

.sidebar-header__text{
    width: calc(100% - 36px);
    height: 36px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


.sidebar__body{
    width: 100%;
    height: calc(100vh - 50px - 49px);
    box-sizing: border-box;
    padding: 15px 11px;
    overflow-x: hidden;
}

.sidebar-body__item{
    border-radius: 6px;
    width: 198px;
    height: 40px;
    display: flex;
    align-items: center;
    margin-top: 4px;
    cursor: pointer;
    text-decoration: none !important;
}

.sidebar-body__container{
    border-radius: 6px;
    width: 100%;
    min-height: 40px;
    display: flex;
    flex-direction: column;
    margin-bottom: 4px;
    align-items: center;
    cursor: pointer;
    text-decoration: none !important;
}

.sidebar-detail{
    width: 198px;
    background-color: #324e70;
    padding-top: 4px;

}

.sidebar-detail__item{
    border-radius: 6px;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
    text-decoration: none !important;
}

.sidebar-detail__text{
    width: calc(100% - 44px - 20px);
    height: 100%;
    color: #869AB8;
    border-radius: 40px;
    margin-left: 44px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 13px;
    margin-right: 20px;
    font-family: Roboto-Medium;
    text-decoration: none !important;
}

.sidebar-detail__item:hover{
    background-color: #1aa4c8;
}

.sidebar-detail__item:hover .sidebar-detail__text{
    color: #ffffff;
}

.sidebar-body__item:hover{
    background-color: #1aa4c8;
}

.sidebar-body__item:hover .sidebar-body__item2-icon{
    background-color: #1aa4c8;
}

.sidebar-body__item:hover .sidebar-body__text{
    color: #ffffff;
}

.sidebar-body__item2{
    width: 44px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar-body__text{
    width: calc(100% - 44px - 20px);
    height: 100%;
    color: #869AB8;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 13px;
    font-family: Roboto-Medium;
}

.sidebar-body__item2-icon{
    padding-right: 4px;
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: 0;
    background-color: #1c3048;
}

.sidebar-body__item2-icon--image{
    background: url('../../assets/icon/qlts-icon.png') no-repeat -158px -293px;
	width: 11px;
	height: 7px;
    border: none;
    cursor: pointer;
}

.sidebar-body__item2--icon:hover{
    background-color: rgb(148, 143, 143);
}

.sidebar-body__item2--icon1{
    width: 22px;
	height: 21px;
    background: url('../../assets/icon/qlts-icon.png') no-repeat -21px -153px;
} 

.sidebar-body__item2--icon2{
    width: 22px;
	height: 23px;
    background: url('../../assets/icon/qlts-icon.png') no-repeat -65px -197px;
} 

.sidebar-body__item2--icon3{
    width: 21px;
	height: 23px;
    background: url('../../assets/icon/qlts-icon.png') no-repeat -110px -153px;
} 

.sidebar-body__item2--icon4{
    width: 22px;
	height: 22px;
    background: url('../../assets/icon/qlts-icon.png') no-repeat -153px -197px;
}

.sidebar-body__item2--icon5{
    width: 22px;
	height: 18px;
    background: url('../../assets/icon/qlts-icon.png') no-repeat -197px -155px;
}

.sidebar-body__item2--icon6{
    width: 22px;
	height: 22px;
    background: url('../../assets/icon/qlts-icon.png') no-repeat -241px -153px;
}

.sidebar-body__item2--icon7{
    width: 22px;
	height: 22px;
    background: url('../../assets/icon/qlts-icon.png') no-repeat -329px -153px;
}

.sidebar-body__item1--modifier{
    background-color: #1aa4c8;
    
}


.sidebar-header-tooltip{
    top: 20% !important;
    left: 90% !important;
}

.sb-header-text{
    color: #ffffff;
    font-size: 23px;
    font-weight: 1500px;
    cursor: default;
}

.sb-header-text:hover~.sidebar-header-tooltip{
    transform: scale(1);
    z-index: 1000;
}

.sidebar-footer{
    width: 100%;
    height: 48px;
    border-top: 1px solid rgba(212, 208, 208, 0.678);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}

.sidebar-footer-tooltip{
    top: 28% !important;
    left: 98% !important;
}

.sidebar-footer:hover .sidebar-footer-tooltip{
    transform: scale(1);
    z-index: 1000;
}


.sidebar-footer__item{
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 12px;
    border-radius: 8px;
    border: none;
    padding: 0;
    background-color: unset;
}

.sidebar-footer__item:hover{
    background-color: #01152cd7;
}

.sidebar-footer__item--image{
    background: url('../../assets/icon/qlts-icon.png') no-repeat -285px -417px;
	width: 22px;
	height: 22px;
    border: none;
    cursor: pointer;
}

.sidebar-footer__item--image:hover{
    background-color: #324e70;
}

.router-link-active{
    background-color: #1aa4c8;
    color: #ffffff;
}

.router-link-active .sidebar-detail__text,.sidebar-body__text{
    color: #ffffff;
}

.router-link-active .sidebar-body__item2-icon{
    background-color: #1aa4c8;
}
