
.toast-list{
    position: fixed;
    right: 50px;
    bottom: 50px;
}

.toast{
    position: fixed;
    right: 10px;
    bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .16);
    border-radius: 4px;
    margin-top: 16px;
    z-index: 20;
}

.toast--success{
    width: 450px;
    height: 56px;
    padding-left: 18px;
    padding-right: 16px;
}

.toast__left{
    display: flex;
    align-items: center;
    column-gap: 10px;
    
}

.toast--success .toast__text--left{
    max-width: 390px;
    font-size: 14px;
    font-family: Roboto-Regular;
    color: #50B83C;
    
}

.toast-text--success{
    color: #1F1F1F;
    
}

.toast-text--link{
    border: 1px solid black;
    max-width: 390px;
    color: #1F1F1F;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.toast--success .toast__icon{
    width: 24px;
    height: 24px;
    background-color: #50B83C;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 14px;
    
}

.toast__icon--success{
    background: url('../../assets/icon/qlts-icon.png') no-repeat -71px -512px;
	width: 11px;
	height: 8px;
}

.toast__right{
    display: flex;
    align-items: center;
    column-gap: 16px;
}

.toast__text--right{
    width: 65px;
    height: 22px;
    font-size: 14px;
    font-weight: 500px;
    font-family: Roboto-Medium;
    color: #1F1F1F;
    border: none;
    background-color: #FFFFFF;
    cursor: pointer;
    text-decoration: underline;
}

.toast__text--right:hover{
    background-color: #FFFFFF;
}

.toast--close{
    width: 16px;
    height: 16px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: white;
    cursor: pointer;
}

.toast--close:hover{
    background-color: rgb(156, 153, 153);
}

.toast--error{
    width: 650px;
    height: 74px;
    padding: 0 16px 0 17px;
}

.toast--error .toast__icon{
    width: 21px;
    height: 21px;
    background-color: #DE3618;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 14px;
}

.toast__icon--error{
    background: url('../../assets/icon/qlts-icon.png') no-repeat -291px -247px;
    width: 10px;
	height: 10px;
}

.toast--error .toast__text--left{
    font-size: 14px;
    font-family: Roboto-Regular;
    margin: 20px 0 20px 0;
    height: 34px;
}

.toast--waring{
    width: 498px;
    height: 56px;
    padding: 16px;
    box-sizing: border-box;
}

.toast--waring .toast__icon{
    width: 24px;
	height: 24px;
    border-radius: 14px;
    background-position: center;
    background-image: url(../../assets/icon/waring123.png);
}


.toast--waring .toast__text--left{
    font-size: 14px;
    font-family: Roboto-Regular;
    height: 17px;
}

.toast--notify{
    width: 472px;
    height: 56px;
    padding: 16px;
    box-sizing: border-box;
}

.toast--notify .toast__icon{
    width: 24px;
	height: 24px;
    /* background-color: #DE3618;
    display: flex;
    align-items: center;
    justify-content: center; */
    border-radius: 14px;
    /* margin: 16px 0px 34px 16px; */
    /* background-size: 20px 20px; */
    background-position: center;
    background-image: url(../../assets/icon/notify.png);
}

.toast--notify .toast__text--left{
    font-size: 14px;
    font-family: Roboto-Regular;
    height: 17px;
}

.btn__toast--close{
    width: 10px;
	height: 10px;
    background: url('../../assets/icon/qlts-icon.png') no-repeat -291px -247px;
}

.dialog-icon{
    width: 32px;
    height: 32px;
    background-color: rgb(158 219 151 / 86%);
    border-radius: 50px;
    background-image: url(../../assets/icon/succes.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 24px 24px;
}