.btn-header__icon{
    width: 24px;
    height: 24px;
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: none;
    cursor: pointer;
}

.btn-header__icon:hover{
    background-color: white;
}

.btn-form__footer{
    width: 80px;
    height: 36px;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    background-color: white;
    cursor: pointer;
}


.btn--default{
    background-color: #1aa4c8;
    color: white;
    border: none;
}

.btn-form__footer:hover{
    background-color: rgb(153, 151, 151);
}

.btn--default:hover{
    background-color: #097894;
}









