/* .dropdown {
    display: flex;
    flex-direction: column;
    position: relative;
    
} */
/* 
.form .dropdown{
    width: 100%;
    position: absolute;
    top: 64px;
} */



.dropdown-down{
    height: 160px;
    display: flex;
    flex-direction: column;
    padding: 8px;
    box-sizing: border-box;
    background-color: white;
    display: none;
    z-index: 0;
}

.dropdown_up_table{
    width: 61px;
    max-height: 108px;
    display: flex;
    flex-direction: column;
    border: 0;
    padding: 8px;
    position: absolute;
    bottom: 27px;
    box-sizing: border-box;
    background-color: white;
    z-index: 0;
    display: none;
}




.dropdownContent{
    overflow-y: scroll;
}

.dropdownForm{
    width: 100%;
    top: 0px ;
    border-radius: 4px;
}

.dropdownAddForm{
    width: 100%;
    top: 0px ;
    border-radius: 4px;
}

.dropdownFormList{
    width: 100%;
    overflow-y: scroll;
}

.dropdown-value{
    height: 36px;
    background-color: white;
    padding: 8px;
    box-sizing: border-box;
    cursor: pointer;
}



.value--selected,.dropdown-value:hover{
    background-color: rgba(80,184,60,0.1);
}


