.popup{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.116);
}

.popup-form{
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 200px;
    background-color: #fff;
    border-radius: 4px;
    transform: translate(-50%, -50%);
}