/* tooltip top  */
[data_tooltip_top]{
    position: relative;
}

[data_tooltip_top]::before{
    content: attr(data_tooltip_top);
    position: absolute;
    min-width: max-content;
    font-size: 10px;
    font-family: Roboto-Regular;
    background-color: white;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 1px;
    box-shadow:6px 2px 10px rgba(0, 0, 0, .16);
    color: black;
    text-align: center;
    padding: 4px 4px;
    bottom: 0;
    line-height: 1rem;
    right: 0%;
    z-index: 100;
    transform: scale(0);
    transition: 0.25s ease-in-out;
}

[data_tooltip_top]:hover::before{
    transform: scale(1);
    bottom: calc(100% + 4px);
}

/* tooltip bottom  */
[data_tooltip_bottom]{
    position: relative;
}

[data_tooltip_bottom]::after{
    content: attr(data_tooltip_bottom);
    position: absolute;
    min-width: max-content;
    font-size: 10px;
    font-family: Roboto-Regular;
    background-color: white;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 1px;
    box-shadow: 6px 4px 6px rgba(0, 0, 0, .16);
    color: black;
    text-align: center;
    padding: 3px 3px;
    top: 100%;
    line-height: 1rem;
    right: 30%;
    z-index: 100;
    transform: scale(0);
    transition: 0.25s ease-in-out;
}

[data_tooltip_bottom]:hover::after{
    transform: scale(1);
    top: calc(100% + 8px);
}


/* tooltip right */

[data_tooltip_right]{
    position: relative;
}

[data_tooltip_right]::before{
    content: attr(data_tooltip_right);
    position: absolute;
    min-width: max-content;
    height: max-content;
    font-size: 10px;
    font-family: Roboto-Regular;
    background-color: white;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 1px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, .16);
    color: black;
    text-align: center;
    padding: 3px 3px;
    left: calc(115% + 5px);
    line-height: 1rem;
    transform: scale(0);
    transition: 0.25s ease-in-out;

}


[data_tooltip_right]:hover::before{
    transform: scale(1);
    left: 115%;
    top: 23%;
}
