.asset-selected__residual-value{
    padding-right: 20px !important;
}



.asset-selected--column2{
    min-width: 55px;
    box-sizing: border-box;
    padding-right: 10px;
    text-align: center;
}

.asset-selected--column2-tooltip{
    top: 90%;
    right: 50%;
}

.asset-selected--column2:hover .asset-selected--column2-tooltip{
    transform: scale(1);
    z-index: 10000;
}

.asset-selected--column3{
    min-width: 110px;
    padding-right: 10px;
    text-align: left;
}


.asset-selected--column4{
    min-width: 130px;
    padding-right: 10px;
    text-align: left;
}

.asset-selected--column6{
    min-width: 276px;
    padding-right: 5px;
    text-align: left;
}

.asset-selected--column8{
    min-width: 140px;
    padding: 0 0 0 10px;
    text-align: right;
}

.asset-selected--column8-tooltip{
    top: 90%;
    right: 30%;
}

.asset-selected--column8:hover .asset-selected--column8-tooltip{
    transform: scale(1);
    z-index: 10000;
}


.asset-selected--column9{
    min-width: 140px ;
    padding: 0 0 0 10px;
    text-align: right;
}





.asset-selected--column10{
    min-width: 140px;
    padding: 0 0 0 10px;
    text-align: right;
}



.asset-selected--column11{
    min-width: 100px;
    padding-left: 10px;
    padding-right: 15px;
    text-align: center;
}

.asset-selected--footer-left{
    min-width: 621px;
}

.btn-close-asset-selected{
    position: relative;
}

.btn-close-asset-selected-tooltip{
    top: 100%;
    right: 50%;
}

.btn-close-asset-selected:hover .btn-close-asset-selected-tooltip{
    transform: scale(1);
    z-index: 100;
}

.btn-save-asset-selected{
    position: relative;
}

.btn-save-asset-selected-tooltip{
    top: 110%;
    left: 50%;
}

.btn-save-asset-selected:hover .btn-save-asset-selected-tooltip{
    transform: scale(1);
    z-index: 100;
}

.btn-cancel-asset-selected{
    position: relative;
}

.btn-cancel-asset-selected-tooltip{
    top: 110%;
    left: 50%;
}

.btn-cancel-asset-selected:hover .btn-cancel-asset-selected-tooltip{
    transform: scale(1);
    z-index: 100;
}