.checkbox{
    width: 14px;
    height: 14px;
    box-sizing: border-box;
    padding: 0;
    border: none;
    cursor: pointer;
}

.checkbox__false{
    background: url('../../assets/icon/qlts-icon.png') no-repeat -113px -377px;
	width: 14px;
	height: 14px;
}

.checkbox__true{
    background: url('../../assets/icon/qlts-icon.png') no-repeat -157px -377px;
	width: 14px;
	height: 14px;
}


.checkbox:focus{
    outline: 3px solid #bce7f1 !important;
}