.tooltip-container {
    width: max-content;
    height: max-content;
    position: absolute;
    min-width: min-content;
    font-size: 10px;
    font-family: Roboto-Regular;
    background-color: white;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 4px;
    box-shadow:6px 2px 10px rgba(0, 0, 0, .16);
    color: black;
    text-align: center;
    padding: 4px 4px;
    top: 100%;
    line-height: 1rem;
    right: 50%;
    z-index: 100;
    transform: scale(0);
    transition: 0.25s ease-in-out;
    cursor: default;
}