.asset-no-active__residual-value{
    padding-right: 20px !important;
}



.asset-no-active--column2{
    max-width: 55px;
    min-width: 55px;
    box-sizing: border-box;
    padding-right: 10px;
    text-align: center;
}

.asset-no-active--column2-tooltip{
    top: 90%;
    right: 50%;
}

.asset-no-active--column2:hover .asset-no-active--column2-tooltip{
    transform: scale(1);
    z-index: 10000;
}

.asset-no-active--column3{
    max-width: 110px;
    min-width: 110px;
    padding-right: 10px;
    text-align: left;
}


.asset-no-active--column4{
    max-width: 130px;
    min-width: 130px;
    padding-right: 10px;
    text-align: left;
}

.asset-no-active--column6{
    max-width: 276px;
    min-width: 276px;
    padding-right: 5px;
    text-align: left;
}

.asset-no-active--column8{
    max-width: 140px;
    min-width: 140px;
    padding: 0 0 0 10px;
    text-align: right;
}


.asset-no-active--column9{
    max-width: 140px;
    min-width: 140px ;
    padding: 0 0 0 10px;
    text-align: right;
}

.asset-no-active--column9-tooltip{
    top: 90%;
    right: 30%;
}

.asset-no-active--column9:hover .asset-no-active--column9-tooltip{
    transform: scale(1);
    z-index: 10000;
}

.asset-no-active-form-header{
    display: flex;
    align-items: center;
    padding: 20px 16px 20px 16px;
    border-bottom: 1px solid #CCCCCC;
}

.asset-no-active-form-body{
    padding: 0px 16px 15px 16px;
    border-radius: 0 0 4px 4px;
    display: flex;
    flex-direction: column;
}





.asset-no-active--column10{
    max-width: 140px;
    min-width: 140px;
    padding: 0 0 0 10px;
    text-align: right;
}



.asset-no-active--column11{
    min-width: 100px;
    padding-left: 10px;
    padding-right: 15px;
    text-align: center;
}

.asset-no-active--footer-left{
    min-width: 621px;
}

.btn-close-asset-no-active{
    position: relative;
}

.btn-close-asset-no-active-tooltip{
    top: 100%;
    right: 50%;
}

.btn-close-asset-no-active:hover .btn-close-asset-no-active-tooltip{
    transform: scale(1);
    z-index: 100;
}

.btn-save-asset-no-active{
    position: relative;
}

.btn-save-asset-no-active-tooltip{
    top: 110%;
    left: 35%;
}

.btn-save-asset-no-active:hover .btn-save-asset-no-active-tooltip{
    transform: scale(1);
    z-index: 100;
}

.btn-cancel-asset-no-active{
    position: relative;
}

.btn-cancel-asset-no-active-tooltip{
    top: 110%;
    left: 40%;
}

.btn-cancel-asset-no-active:hover .btn-cancel-asset-no-active-tooltip{
    transform: scale(1);
    z-index: 100;
}