.asset_increment__form-data{
    width: 65%;
    min-width: 465px;
    min-height: 500px;
    background-color: #fff;
    border-radius: 4px;
}

.asset_increment__form_body{
    padding: 0px 16px 20px 16px;
    border-radius: 0 0 4px 4px;
    display: flex;
    flex-direction: column;
    background-color: #f4f7ff;
}

.asset_increment__form-header__text{
    width: calc(100% - 18px);
    height: 24px;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 700px;
    font-family: Roboto-Bold;
    letter-spacing: 0;
    line-height: 0;
    color: #1F1F1F;
}

.asset_increment__form-body__up{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    background-color: #ffffff;
    padding: 16px;
}

.asset_increment__form-body--tex1{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    font-family: Roboto-Bold;
    font-size: 14px;
}

.asset_increment__form-body__down{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    background-color: #ffffff;
}

.header__body--down{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 16px 0 16px;
}

.asset_increment_detail--column8{
    width: 120px;
    min-width: 100px;
    padding: 0 0 0 10px;
    text-align: right;
}



.asset_increment_detail--column9{
    width: 120px;
    min-width: 100px ;
    padding: 0 0 0 10px;
    text-align: right;
}

.table_container{
    width: 100%;
    height: 200px; 
    overflow: auto;
    border: 1px solid #afafaf;
    box-sizing: border-box;
}



.asset_increment_detail--column10{
    width: 120px;
    min-width: 100px;
    padding: 0 0 0 10px;
    text-align: right;
}


