.asset_increment__form-data{
    width: 80%;
    min-width: 808px;
    min-height: 500px;
    background-color: #fff;
    border-radius: 4px;
}

.asset_increment__form_body{
    padding: 0px 16px 15px 16px;
    border-radius: 0 0 4px 4px;
    display: flex;
    flex-direction: column;
    background-color: #f4f7ff;
}

.asset_increment__form-header__text{
    width: calc(100% - 18px);
    height: 24px;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 700px;
    font-family: Roboto-Bold;
    letter-spacing: 0;
    line-height: 0;
    color: #1F1F1F;
}

.asset_increment__form-body__up{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    background-color: #ffffff;
    padding: 16px;
}

.asset_increment__form-body--tex1{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    font-family: Roboto-Bold;
    font-size: 14px;
}

.asset_increment__form-body__down{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    background-color: #ffffff;
}

.header__body--down{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 16px 0 16px;
}

.asset_increment_detail--column2{
    min-width: 70px;
    padding-right: 10px;
    text-align: center;
}

.asset_increment_detail--column2-no-data{
    width: 70px;
    min-width: unset;
}

.asset_increment_detail--column3{
    min-width: 120px;
    padding: 0 10px 0 0;
    text-align: left;
}

.asset_increment_detail--column3-no-data{
    width: 120px;
    min-width: unset;
}

.asset_increment_detail--column4{
    min-width: 120px;
    padding: 0 10px 0 0;
    text-align: left;
}

.asset_increment_detail--column6-no-data{
    width: 120px;
    min-width: unset;
}

.asset_increment_detail--column6{
    min-width: 321px;
    padding-right: 5px;
    text-align: left;
}

.asset_increment_detail--column6-no-data{
    width: 321px;
    min-width: unset;
}

.asset_increment_detail--column8{
    width: 140px;
    min-width: 140px;
    padding: 0 0 0 10px;
    text-align: right;
}



.asset_increment_detail--column9{
    width: 140px ;
    min-width: 140px ;
    padding: 0 0 0 10px;
    text-align: right;
}

.asset_increment_detail--column10{
    width: 140px;
    min-width: 140px;
    padding: 0 0 0 10px;
    text-align: right;
}

.asset_increment_detail--column11{
    width: 110px;
    min-width: 110px;
    padding-left: 10px;
    padding-right: 15px;
    text-align: center;
}

.table_container{
    width: 100%;
    height: 195px; 
    overflow: auto;
    /* border: 1px solid #afafaf; */
    box-sizing: border-box;
}







.asset-increment-detail__footer-left{
    min-width: 627px !important;
}


