.asset_increment__form-data{
    width: 70%;
    min-width: 500px;
    min-height: 686px;
    background-color: #fff;
    border-radius: 4px;
}

.asset_increment__form_body{
    padding: 0px 16px 15px 16px;
    border-radius: 0 0 4px 4px;
    display: flex;
    flex-direction: column;
    background-color: #f4f7ff;
}

.asset_increment__form-header__text{
    width: calc(100% - 18px);
    height: 24px;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 700px;
    font-family: Roboto-Bold;
    letter-spacing: 0;
    line-height: 0;
    color: #1F1F1F;
}

.asset_increment__form-body__up{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    background-color: #ffffff;
    padding: 16px;
    border-radius: 2px;
}

.asset_increment__form-body--tex1{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    font-family: Roboto-Bold;
    font-size: 14px;
}

.asset_increment__form-body__down{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    background-color: #ffffff;
    border-radius: 2px;
}

.header__body--down{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 16px 0 16px;
}

.asset_increment_detail--column2{
    max-width: 65px;
    padding-left: 10px;
    min-width: 65px;
    padding-right: 10px;
    text-align: center;
}

.asset_increment_detail--column2-tooltip{
    top: 80% !important;
    left: 30% !important;
    /* transform: scale(1) !important; */
}

.asset_increment_detail--column2:hover{
    cursor: default;
}

.asset_increment_detail--column2:hover .asset_increment_detail--column2-tooltip{
    transform: scale(1) !important;
    z-index: 100000 !important;
}

.asset_increment_detail--column3{
    max-width: 100px;
    min-width: 100px;
    padding: 0 10px 0 0;
    text-align: left;
}


.asset_increment_detail--column4{
    max-width: 110px;
    min-width: 110px;
    padding: 0 10px 0 0;
    text-align: left;
}


.asset_increment_detail--column6{
    max-width: 258px;
    min-width: 258px;
    padding-right: 5px;
    text-align: left;
}


.asset_increment_detail--column8{
    max-width: 130px;
    min-width: 130px;
    padding: 0 0 0 10px;
    text-align: right;
}



.asset_increment_detail--column9{
    max-width: 130px;
    min-width: 130px ;
    padding: 0 0 0 10px;
    text-align: right;
}

.asset_increment_detail--column9-tooltip{
    top: 80% !important;
    right: 30% !important;
    /* transform: scale(1) !important; */
}


.asset_increment_detail--column9:hover .asset_increment_detail--column9-tooltip{
    transform: scale(1) !important;
    z-index: 100000 !important;
}

.asset_increment_detail--column10{
    min-width: 130px;
    max-width: 130px;
    padding: 0 0 0 10px;
    text-align: right;
}

.asset_increment_detail--column11{
    width: 90px;
    min-width: 90px;
    padding-left: 10px;
    padding-right: 15px;
    text-align: center;
}

.table_container{
    width: 100%;
    height: 255px; 
    overflow: auto;
    /* border: 1px solid #afafaf; */
    box-sizing: border-box;
    border-radius: 2px;
}

.asset-increment-detail__footer-left{
    min-width: 529px !important;
}

.btn-close-asset-increment-detail{
    position: relative;
}

.btn-close-asset-increment-detail-tooltip{
    top: 110%;
    right: 50%;
}

.btn-close-asset-increment-detail:hover .btn-close-asset-increment-detail-tooltip{
    transform: scale(1);
    z-index: 1000;
}

.btn-save-asset-increment-detail{
    position: relative;
}

.btn-save-asset-increment-detail-tooltip{
    top: 110%;
    left: 35%;
}

.btn-save-asset-increment-detail:hover .btn-save-asset-increment-detail-tooltip{
    transform: scale(1);
    z-index: 100;
}

.btn-cancel-asset-increment-detail{
    position: relative;
}

.btn-cancel-asset-increment-detail-tooltip{
    top: 110%;
    left: 40%;
}

.btn-cancel-asset-increment-detail:hover .btn-cancel-asset-increment-detail-tooltip{
    transform: scale(1);
    z-index: 100;
}

.btn-selected-asset-active{
    position: relative;
}

.btn-selected-asset-active-tooltip{
    top: 110%;
    right: 30%;
}

.btn-selected-asset-active:hover .btn-selected-asset-active-tooltip{
    transform: scale(1);
    z-index: 10000;
}

